@charset "UTF-8";
/*
 em HTML é id = em CSS é #
 em HTML é class = em CSS é .
*/
body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 109, 0)
}

h1#principal { /* Seletor Principal*/
    text-align: center;
    background-color:rgb(108, 163, 104);
    color: white
}

h2 {
    color: rgb(94, 163, 89)
}