@charset "UTF-8";

body {
    background-color: rgb(69, 132, 204);
    font: normal 15pt arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
}

form {
    margin: 20px 20px;
}

input {
    margin: 9px 0px;
}

input#Verificar {
    box-sizing: border-box;
    border: 2px solid color-mix(in srgb, #fff 20%, #000 60%);
    padding: 10px;
    border-radius: 10px;
}

input#Verificar:hover { 
    transform: scale(110%);
    box-sizing: border-box;
    border: 2px solid color-mix(in srgb, #fff 20%, #000 60%);
    padding: 10px;
    border-radius: 10px;
    transition: .5s;
}