@charset "UTF-8";
/*
 em HTML é id = em CSS é # (só pode um elemento)
 em HTML é class = em CSS é . (pode vários elementos)
*/
body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    color: rgb(4, 109, 0)
}

h1#principal { /* Seletor Principal*/
    text-align: center;
    background-color:rgb(108, 163, 104);
    color: white
}

h2 {
    color: rgb(94, 163, 89)
}

.basico {
    color: green;
}

.intermediario {
    color: rgba(175, 175, 18, 0.979);
}

.avancado {
    color: rgb(168, 6, 6);
}

.destaque {
    color: blue;
}